# Quickstart  

Load reflection data and preview the ``rs.DataSet`` object.

In [1]:
import reciprocalspaceship as rs
print(rs.__version__)

0.9.4

In [2]:
dataset = rs.read_mtz("data/HEWL_SSAD_24IDC.mtz")
dataset.head()

        FreeR_flag     IMEAN   SIGIMEAN      I(+)    SIGI(+)      I(-)  \
H K L
0 0 4           14 661.29987  21.953098 661.29987  21.953098 661.29987
    8            4  3229.649 105.980934  3229.649 105.980934  3229.649
    12           6 1361.8672   43.06085 1361.8672   43.06085 1361.8672
    16          19  4124.393  196.89108  4124.393  196.89108  4124.393
1 0 1           16 559.33685     8.6263 559.33685     8.6263 559.33685

          SIGI(-)  N(+)  N(-)
H K L
0 0 4   21.953098    16    16
    8  105.980934    16    16
    12   43.06085    16    16
    16  196.89108     8     8
1 0 1      8.6263    64    64

The above table should look familiar to Python users that have experience with ``pandas``. The``rs.DataSet`` objects also store unit cell and spacegroup information as attributes. These attributes are stored as ``gemmi`` objects. For more information on the ``gemmi`` Python library, please see their [documentation](https://gemmi.readthedocs.io/en/latest/).

In [3]:
print(dataset.cell)

<gemmi.UnitCell(79.3439, 79.3439, 37.8099, 90, 90, 90)>

In [4]:
print(dataset.spacegroup)

<gemmi.SpaceGroup("P 43 21 2")>

To illustrate using the unit cell parameter information, let's compute the highest resolution reflection in the dataset:

In [5]:
dataset.compute_dHKL(inplace=True)
dataset.head()

        FreeR_flag     IMEAN   SIGIMEAN      I(+)    SIGI(+)      I(-)  \
H K L
0 0 4           14 661.29987  21.953098 661.29987  21.953098 661.29987
    8            4  3229.649 105.980934  3229.649 105.980934  3229.649
    12           6 1361.8672   43.06085 1361.8672   43.06085 1361.8672
    16          19  4124.393  196.89108  4124.393  196.89108  4124.393
1 0 1           16 559.33685     8.6263 559.33685     8.6263 559.33685

          SIGI(-)  N(+)  N(-)      dHKL
H K L
0 0 4   21.953098    16    16  9.452475
    8  105.980934    16    16 4.7262373
    12   43.06085    16    16 3.1508248
    16  196.89108     8     8 2.3631186
1 0 1      8.6263    64    64  34.13254

In [6]:
print(f"{dataset.dHKL.min():.2f} angstroms")

1.70 angstroms